p{
    color:black;
    font-family:Alata;

}

header{
    background-color:#C4C4C4;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}

    .menu-hamburguer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        text-decoration: none;
        display: none;
        
      }
      
      .menu-hamburguer span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 6px 0;
        background-color: #000;
      }
      
      .menu {
        display: none;
        position: absolute;
        top: 40px;
        right: 40px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }
      
      .menu-hamburguer:hover + .menu {
        display: block;
      }


.about{
    background-color:#F3F3F3;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:3rem;
   
}

.informations{
 background-color:#E5E5E5;
 height:289px;

}


#name{
    font-size:40px;
    font-weight: bold;
}

#image{
    border-radius:50%;
    width:247px;
    height:247px;

}

#text{
    width:50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.container-infos img{
    height:100px;
    width: 80px;
}

.books{
    display:flex;
    width:40%;
    flex-wrap:wrap;
    
    
}


.contato{
    background-color:  #FFFACD;
    padding:3px 12px;
    color: #353535;
    font-weight:bold;
    margin-top:10px;
    transform: translateY(10px);
    text-decoration: none;
    cursor:pointer
}


.links{
    text-decoration: none;
    font-size: large;
    color:black;
    font-weight: bolder;
    margin-right:40px;
    
    
}

.hobby-image:hover{
    opacity:0.5;
    cursor:none;

}

.card-top:hover{
    opacity:0.5;
    cursor:none;
}

.container-infos{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    margin-bottom:100px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.hobbies{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:40%
}

.hobbies h2{
    text-align: end;
    width:100%
}


#container-hobby-image{
    display:flex;
    justify-content: flex-end;
    width:100%;
    gap:5px;
    flex-wrap: wrap;
}

.container-card-top{
    width:100%;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    
}

.hobby-image{
    display:flex;
    flex-wrap: wrap;
}

footer{
    background-color:#C4C4C4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    
    }

@media (max-width:846px){
    #text{
        width:100%;
       justify-content: center;
       text-align: center;

    }

    .about{
        width:100%;
    }

    #image{
        margin:30px;
    }
}


@media (max-width:414px){
    .books{
        width:70%;
    }

    .hobbies{
        width:70%;

    }

    .hobbies h2{
        text-align: left;
    }
    .container-card-top{
        
        justify-content: center;
    }

    .container-hobby-image{
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width:414px){
        .container-links{
            display: none;
        }

        .menu-hamburguer{
            display: flex;
        }
        
}
#image:hover{
    transform: scale(1.3);
    transition: 0.5s;

}

