<div class="footer">

    <center> 
        <font color='black' face="Comic sans MS" size=3> <p>Onde dormem os lobos?</p></font> 

            <font color='black' face="Comic sans MS" size=2></font><p>[Visual]izando um mundo melhor através do code!</p> </font>
    
        <div class="map">
            <iframe width="600" height="500" id="map" src="https://maps.google.com/maps?q=instituto%20de%20computa%C3%A7%C3%A3o%20uff&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

           

    </center>

               
        </div>

<div style="background-color:gray" width:'150px' height:'200px' >


<center> 
<p> ©️ Teen Wolf Group</p>
</center>


</div>